<!DOCTYPE html>
<html>
  <head>
    <title>MyRubyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key,value| %>
  <p><% value %> </p>
  <% end %>
    <%= yield %>
  </body>
</html>
